**Задача 1**. Дана переменная, в которой хранится слово из латинских букв. Напишите код, который выводит на экран:

среднюю букву, если число букв в слове нечетное;
две средних буквы, если число букв четное.

Примеры работы программы:

word = ‘test’
Результат:
es

word = ‘testing’
Результат:
t

In [1]:
my_string = 'test'
len(my_string)

4

In [3]:
my_string[1:3]

'es'

In [4]:
my_string = 'testing'
len(my_string)

7

In [6]:
my_string[3]

't'

**Задача 2**. Напишите программу, которая последовательно запрашивает у пользователя числа (по одному за раз) и после первого нуля выводит сумму всех ранее введенных чисел.

Примеры работы программы:

Введите число:
1

Введите число:
4

Введите число:
6

Введите число:
0
Результат:
11

Введите число:
0
Результат:
0

In [50]:
number = int(input('Введите число: '))
num = 0
while number != 0:
    num += number
    number = int(input('Введите число: '))
print(num)

Введите число: 1
Введите число: 4
Введите число: 6
Введите число: 0
11

**Задача 3**. Мы делаем MVP dating-сервиса, и у нас есть список парней и девушек.
Выдвигаем гипотезу: лучшие рекомендации мы получим, если просто отсортируем имена по алфавиту и познакомим людей с одинаковыми индексами после сортировки! Но мы не будем никого знакомить, если кто-то может остаться без пары:

In [51]:
boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']

Результат:
Идеальные пары:
Alex и Emma
Arthur и Kate
John и Kira
Peter и Liza
Richard и Trisha

Результат:
Внимание, кто-то может остаться без пары!

In [52]:
print(type(boys))
print(type(girls))

<class 'list'>
<class 'list'>

In [53]:
boys2 = sorted(boys)
print(boys2)

['Alex', 'Arthur', 'John', 'Peter', 'Richard']

In [54]:
girls2 = sorted(girls)
print(girls2)

['Emma', 'Kate', 'Kira', 'Liza', 'Trisha']

In [55]:
if len(boys) == len(girls):
    print('Идеальные пары:')
    for boys, girls in zip(boys2, girls2):
        print(f'{boys} и {girls}')
else:
    print('Внимание, кто-то может остаться без пары!')

Идеальные пары:
Alex и Emma
Arthur и Kate
John и Kira
Peter и Liza
Richard и Trisha

In [56]:
boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard', 'Michael']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']

In [57]:
boys2 = sorted(boys)
print(boys2)

['Alex', 'Arthur', 'John', 'Michael', 'Peter', 'Richard']

In [58]:
girls2 = sorted(girls)
print(girls2)

['Emma', 'Kate', 'Kira', 'Liza', 'Trisha']

In [59]:
if len(boys) == len(girls):
    print('Идеальные пары:')
    for boys, girls in zip(boys2, girls2):
        print(f'{boys} и {girls}')
else:
    print('Внимание, кто-то может остаться без пары!')

Внимание, кто-то может остаться без пары!

**Задача 4**. У нас есть список, содержащий информацию о среднедневной температуре в Фаренгейтах за произвольный период по странам (структура данных в примере). Необходимо написать код, который рассчитает среднюю температуру за период в Цельсиях(!) для каждой страны.

In [60]:
countries_temperature = [
['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
['Germany', [57.2, 55.4, 59, 59, 53.6]],
['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4]]
]

In [61]:
for country in countries_temperature:
    print(country)

['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]]
['Germany', [57.2, 55.4, 59, 59, 53.6]]
['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]]
['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4]]

In [62]:
for country in countries_temperature:
    for temperature in country[1]:
        print(temperature)

75.2
77
78.8
73.4
68
75.2
77
57.2
55.4
59
59
53.6
35.6
37.4
39.2
41
42.8
39.2
35.6
50
50
53.6
57.2
55.4
55.4

In [63]:
for country in countries_temperature:
    print(sum(country[1]))

524.5999999999999
284.2
270.8
321.59999999999997

In [64]:
for country in countries_temperature:
    print(sum(country[1]) / len(country[1]))

74.94285714285714
56.839999999999996
38.68571428571429
53.599999999999994

In [65]:
for country in countries_temperature:
    cel_temp = (sum(country[1]) / len(country[1]) - 32) * 5 / 9
    print(f'{country[0]} - {round(cel_temp, 1)}')

Thailand - 23.9
Germany - 13.8
Russia - 3.7
Poland - 12.0